
.header-section {
    background-image: url('../images/hom2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 900px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: #ffffff;
    text-align:center;
    font-style: italic;
    
    
    
    width: 100%; 
  
  }
  